@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("fontawesome-all.min.css");

/* costum classes */
.row {
	width: 100%;
	margin-top: -1.25em;
	margin-left: -1.25em;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row>.imp {
	order: -1;
}

.row>.col-1 {
	width: 8.33333%;
}

.row>.off-1 {
	margin-left: 8.33333%;
}

.row>.col-2 {
	width: 16.66667%;
}

.row>.off-2 {
	margin-left: 16.66667%;
}

.row>.col-3 {
	width: 25%;
}

.row>.off-3 {
	margin-left: 25%;
}

.row>.col-4 {
	width: 33.33333%;
}

.row>.off-4 {
	margin-left: 33.33333%;
}

.row>.col-5 {
	width: 41.66667%;
}

.row>.off-5 {
	margin-left: 41.66667%;
}

.row>.col-6 {
	width: 50%;
	min-width: 250px;
}

.row>.off-6 {
	margin-left: 50%;
}

.row>.col-7 {
	width: 58.33333%;
}

.row>.off-7 {
	margin-left: 58.33333%;
}

.row>.col-8 {
	width: 66.66667%;
}

.row>.off-8 {
	margin-left: 66.66667%;
}

.row>.col-9 {
	width: 75%;
}

.row>.off-9 {
	margin-left: 75%;
}

.row>.col-10 {
	width: 83.33333%;
}

.row>.off-10 {
	margin-left: 83.33333%;
}

.row>.col-11 {
	width: 91.66667%;
}

.row>.off-11 {
	margin-left: 91.66667%;
}

.row>.col-12 {
	min-width: 250px;
	width: 100%;
}

.row>.off-12 {
	margin-left: 100%;
}

.row>* {
	padding: .75em 0 0 1em;
}

/*Small 640px Medium (641px to 1007px) Large (1008px and larger) */
@media screen and (max-width: 1007px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row>* {
		box-sizing: border-box;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row>.imp-medium {
		order: -1;
	}

	.row>.col-1-medium {
		width: 8.33333%;
	}

	.row>.off-1-medium {
		margin-left: 8.33333%;
	}

	.row>.col-2-medium {
		width: 16.66667%;
	}

	.row>.off-2-medium {
		margin-left: 16.66667%;
	}

	.row>.col-3-medium {
		width: 25%;
	}

	.row>.off-3-medium {
		margin-left: 25%;
	}

	.row>.col-4-medium {
		width: 33.33333%;
	}

	.row>.off-4-medium {
		margin-left: 33.33333%;
	}

	.row>.col-5-medium {
		width: 41.66667%;
	}

	.row>.off-5-medium {
		margin-left: 41.66667%;
	}

	.row>.col-6-medium {
		width: 50%;
	}

	.row>.off-6-medium {
		margin-left: 50%;
	}

	.row>.col-7-medium {
		width: 58.33333%;
	}

	.row>.off-7-medium {
		margin-left: 58.33333%;
	}

	.row>.col-8-medium {
		width: 66.66667%;
	}

	.row>.off-8-medium {
		margin-left: 66.66667%;
	}

	.row>.col-9-medium {
		width: 75%;
	}

	.row>.off-9-medium {
		margin-left: 75%;
	}

	.row>.col-10-medium {
		width: 83.33333%;
	}

	.row>.off-10-medium {
		margin-left: 83.33333%;
	}

	.row>.col-11-medium {
		width: 91.66667%;
	}

	.row>.off-11-medium {
		margin-left: 91.66667%;
	}

	.row>.col-12-medium {
		width: 100%;
	}

	.row>.off-12-medium {
		margin-left: 100%;
	}

}

/* Basic */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;

}

*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

ol,
ul {
	list-style: none;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* FONTS  */

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0 0 0.5em 0;
	color: var(--heading);
}

p {
	font-size: 1.1rem;
	margin: 0.5em 0 0.5em 0;
	color: var(--paragraph);
}

@media screen and (max-width: 1007px) {
	p {
		font-size: 1em;
	}
}

body,
input,
textarea,
select {
	resize: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20pt;
	line-height: 1.5em;
}

@media screen and (max-width: 1680px) {

	body,
	input,
	textarea,
	select {
		font-size: 15pt;
	}

}

@media screen and (max-width: 1280px) {

	body,
	input,
	textarea,
	select {
		font-size: 14pt;
	}

}

@media screen and (max-width: 1007px) {

	body,
	input,
	textarea,
	select {
		font-size: 12pt;
	}

}

@media screen and (max-width: 641px) {

	body,
	input,
	textarea,
	select {
		font-size: 11pt;
	}

}

h1 {
	font-size: 2em;
	letter-spacing: -0.015em;
}

h2 {
	font-size: 1.6em;
	letter-spacing: -0.015em;
}

h3,
h4,
h5,
h6 {
	font-size: 1.4em;
	letter-spacing: -0.015em;
}

@media screen and (max-width: 1007px) {
	h1 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 1.4em;
	}

	h3,
	h4,
	h5,
	h6 {
		font-size: 1.2em;
	}

}

/* Form */

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
	color: var(--paragraph);
	-webkit-appearance: none;
	border: 0;
	padding: 0.55em;
	width: 100%;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
	line-height: 1.35em;
}

form ::-webkit-input-placeholder {
	color: #999;
}

form :-moz-placeholder {
	color: #999;
}

form ::-moz-placeholder {
	color: #999;
}

form :-ms-input-placeholder {
	color: #999;
}

/* Section/Article */

section,
article {
	margin-bottom: 3em;
}

section> :last-child,
section:last-child,
article> :last-child,
article:last-child {
	margin-bottom: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	-webkit-appearance: none;
	display: inline-block;
	text-decoration: none;
	background-color: var(--btn);
	border-radius: 5px;
	color: #ffffff;
	border: 0;
	outline: 0;
	padding: 0.7em 1.5em 0.7em 1.5em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	background-color: rgb(58, 92, 167);
}

@media screen and (max-width: 641px) {

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		width: 100%;
	}

}

/* Icons */

.icon {
	text-decoration: none;
	position: relative;
	text-decoration: none;
}

.icon:before {
	/* -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block; */
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon.solid:before {
	font-weight: 900;
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands';
}

.icon:before {
	line-height: inherit;
}

.icon>.label {
	display: none;
}

body {
	background: var(--bg1);
}

/* Nav */

#nav {
	text-align: center;
	height: 4.25em;
	/* cursor: default; */
}

#nav a {
	position: relative;
	display: inline-block;
	color: white;
	/* text-shadow: var(--icon-shadow); */
	width: 1em;
	height: 1em;
	line-height: 0.9em;
	font-size: 2.5em;
	margin: 0 0.25em 0 0.25em;
	opacity: 0.35;
	outline: 0;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

#nav a.icon:before {
	padding-right: 0;
}

#nav a:before {
	font-size: 0.8em;
}

#nav a:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	bottom: -0.75em;
	margin-left: -0.5em;
	border-bottom: solid 0em var(--bg2);
	border-left: solid 0.5em transparent;
	border-right: solid 0.5em transparent;
	-moz-transition: border-bottom-width .25s ease-in-out;
	-webkit-transition: border-bottom-width .25s ease-in-out;
	-ms-transition: border-bottom-width .25s ease-in-out;
	transition: border-bottom-width .25s ease-in-out;
}

#nav a span {
	display: block;
	position: absolute;
	background: #222222;
	color: rgb(255, 255, 255);
	top: -2.75em;
	font-size: 0.3em;
	height: 2.25em;
	line-height: 2.25em;
	left: 50%;
	opacity: 0;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
	width: 5.5em;
	margin-left: -2.75em;
}

#nav a span:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -0.4em;
	left: 50%;
	margin-left: -0.6em;
	border-top: solid 0.6em #222222;
	border-left: solid 0.6em transparent;
	border-right: solid 0.6em transparent;
}

#nav a:hover {
	opacity: 1.0;
}

#nav a:hover span {
	opacity: 1.0;
}

#nav a.active {
	opacity: 1.0;
}

#nav a.active:after {
	border-bottom-width: 0.5em;
}

@media screen and (max-width: 1007px) {
	#nav a span {
		display: none;
	}

}

/* Wrapper */

#wrapper {
	width: 47em;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 100%;
	padding: 2.3em 0;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

body.is-preload #wrapper {
	opacity: 0;
}

@media screen and (max-width: 1280px) {

	#wrapper {
		/* padding: 2em 0; */
		max-width: calc(100% - 6em);
	}

}

@media screen and (max-width: 641px) {

	#wrapper {
		/* padding: 1em 0; */
		max-width: calc(100% - 2em);
	}

}

@media screen and (max-width: 360px) {

	#wrapper {
		/* padding: 1em 0; */
		max-width: 100%;
	}
}


/* Main */

body #wrapper #main {
	overflow: hidden;
	height: fit-content;
	width: 100%;
	background: var(--bg2);
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.445);
	-moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

#main>.panel {

	min-height: 70vh;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	margin-bottom: 0;
	position: relative;
	padding: 2em;
	width: 100%;
}

#main>.panel.inactive {
	opacity: 0;
}

@media screen and (max-width: 641px) {
	#main>.panel {
		padding: 2em 1.5em 1.5em 1.5em;
	}

}

#main>.panel.intro {
	padding: 0;
	height: 20em;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

#main>.panel.intro .pic {
	margin-top: 20px;
	margin-right: 20px;
	width: 20em;
	background-image: url("images/background.png");
	height: 100%;
}

#main>.panel.intro .pic img {
	object-fit: contain;
	text-align: center;
	width: 100%;
	height: 100%;
}

#main>.panel.intro .arrow {
	display: block;
	z-index: 2;
	position: absolute;
	right: 0;
	top: 50%;
	width: 2.75em;
	height: 2.75em;
	background: rgba(0, 0, 0, 0.75);
	color: var(--icon);
	text-shadow: var(--icon-shadow);
	text-align: center;
	line-height: 2.75em;
	font-size: 1.5em;
	-moz-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
	-webkit-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
	-ms-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
	transition: width .15s ease-in-out, padding-right .15s ease-in-out;
}

#main>.panel.intro .arrow:before {
	position: relative;
	padding-right: 0;
	top: 0.125em;
}

#main>.panel.intro .arrow:hover {
	width: 3em;
	padding-right: 0.25em;
}

#main>.panel.intro header {
	display: inline;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	padding: 3em 2em;
	margin-bottom: 0;
	width: 50%;
}

#main>.panel.intro header h1 {
	line-height: 1.25em;
	margin-bottom: 0;
}

#main>.panel.intro header p {
	text-align: left;
}

@media screen and (max-width: 1007px) {

	#main>.panel.intro {
		align-items: center;
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		height: auto;
	}

	#main>.panel.intro .pic {
		margin-left: 3em;

		height: 15em;
		width: 100%;
	}

	#main>.panel.intro header {
		padding: 1em 0;
		text-align: center;
	}

}

@media screen and (max-width: 1007px) {

	#main>.panel.intro .pic {
		height: 15em;
	}

	#main>.panel.intro header p {
		font-size: 1em;
	}

}

@media screen and (max-width: 1007px) {
	#main>.panel.intro header {
		width: 90%;
	}
}

* {
	--bg1: #a8c4ff;
	/* --bg1: #00032b; */
	--bg2: #ffffff;
	/* --bg2: #000136; */
	--icon: #6d9bff;
	--icon-hover: #27c5a1;
	--icon-shadow: 0px 0px 5px #118b94;
	--btn: #284076;
	--btn-hover: rgb(58, 92, 167);
	--offtext: #284076;
	--heading: rgb(0, 0, 0);
	--paragraph: rgb(100, 100, 100);
}

/* HOME  */

.socialicon {
	position: absolute;
	top: 20%;
	left: 5px;
}

.socialicon li {
	margin: 20px 0;
}


.cta a.button,a.button  {
	text-align: center;
}

.cta h3 {
	display: inline;
	margin-right: 10px;
}

/* ABOUT ME  */

#aboutme {
	gap: 30px;
	display: flex;
	flex-flow: row wrap;
}

.skillcontainer {
	padding: 0 0 0 20px;
}

.skillscont {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.skillscont .skill {
	margin: 0px 30px 20px 0px;
	padding: 10px 0;
	color: var(--paragraph);
	font-size: 2em;
	width: 50px;
	height: 50px;
	text-justify: auto;
	text-align: center;
	transition: font-size .3s ease-in;
}

.skillscont .skill .desc {
	opacity: 0;
	display: none;
}

.skillscont .skill:hover {
	font-size: 2.1em;
}

.skillscont .skill:hover span {
	display: block;
	opacity: 1;
	font-size: .4em;
}

.skillscont .fa-js:hover {
	color: rgb(214, 193, 0);
}

.skillscont .fa-html5:hover {
	color: rgb(255, 81, 0);
}

.skillscont .fa-css3:hover {
	color: rgb(0, 89, 255);
}

.skillscont .fa-node-js:hover {
	color: darkgreen;
}

.skillscont .fa-react:hover {
	color: cyan;
	background-color: #000;
	border-radius: 50%;
}

.skillscont .fa-figma:hover {
	background: -webkit-linear-gradient(rgb(182, 51, 51)20%, rgb(119, 0, 255), rgb(72, 145, 90));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skillscont .fa-figma:hover .desc {
	-webkit-text-fill-color: rgb(174, 0, 255);
}

#canva {
	width: 80px;
	font-size: 1.2em;
	font-family: cursive;
	transition: all .3s ease-in;
}

#canva:hover {
	font-size: 1.25em;
	background: -webkit-linear-gradient(45deg, cyan, rgb(25, 0, 255), rgb(112, 0, 216));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#webflow {
	width: 80px;
	font-family: cursive;
	font-size: 1.1em;
	transition: all .3s ease-in;
}

#webflow:hover {
	font-size: 1.15em;
	color: rgb(0, 140, 255);
}

.btncont {
	width: 250px;
}

.btncont a {
	text-align: center;
}

#aboutme .aboutme,
#aboutme .skillcontainer {
	width: 45%;
	display: inline;
	text-align: justify;
}

.servicescontainer {
	width: 100%;
}

.services {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: 30px;
	justify-content: space-around;
}

.service {
	border-radius: 10px;
	text-align: center;
	background-color: #000136;
	box-shadow: inset 0 0 100px 0px #4a1194;
	width: 250px;
	height: 300px;
}

.service h2 {
	color: white;
	position: relative;
	top: 30%;
}

@media screen and (max-width: 689px) {
	.service {
		width: 100%;
	}
}



@media screen and (max-width: 1007px) {
	#main>.panel#AboutMe>div {
		width: 100%;
	}

	#main>.panel#AboutMe>div {
		width: 100%;
	}

	#main>.panel#AboutMe .skillcontainer {
		padding: 0;
	}

	#main>.panel#AboutMe .skillcontainer .skillscont .skill .desc {
		opacity: 1;
		display: block;
		font-size: .9rem;
	}

	#main>.panel#AboutMe .skillcontainer .skillscont .skill .desc {
		opacity: 1;
		display: block;
	}

	.skillscont .skill:hover {
		font-size: 2em;
	}

	#canva:hover {
		font-size: 1.2em;
	}

	#webflow:hover {
		font-size: 1.1em;
	}

	.skillscont .fa-js {
		color: rgb(214, 193, 0);
	}

	.skillscont .fa-html5 {
		color: rgb(255, 81, 0);
	}

	.skillscont .fa-css3 {
		color: rgb(0, 89, 255);
	}

	.skillscont .fa-node-js {
		color: darkgreen;
	}

	.skillscont .fa-react {

		color: cyan;
		background-color: #000;
		border-radius: 50%;
	}

	.skillscont .fa-figma {
		background: -webkit-linear-gradient(rgb(182, 51, 51)20%, rgb(119, 0, 255), rgb(72, 145, 90));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.skillscont .fa-figma .desc {
		-webkit-text-fill-color: rgb(174, 0, 255);
	}

	#canva {
		font-size: 1.2em;
		background: -webkit-linear-gradient(45deg, cyan, rgb(25, 0, 255), rgb(112, 0, 216));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	#webflow {
		font-size: 1.1em;
		color: rgb(0, 140, 255);
	}
}

/* PROJECTS  */
#main>.panel#portfolio .projectwrapper .projectscont {
	margin-bottom: 30px;
	justify-content: space-between;
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

#main>.panel#portfolio .projectwrapper .projectscont .project {
	height: fit-content;
	width: 48%;
	min-width: 300px;
}

@media screen and (max-width: 805px) {
	#main>.panel#portfolio .projectwrapper .projectscont .project {
		width: 100%;
	}
}

#main>.panel#portfolio .projectwrapper .projectscont .project img {
	aspect-ratio: 16 / 9;
	object-fit: cover;
	width: 100%;
	border-radius: 10px;
}

/* CONTACT  */
.socialwrapper {
	width: fit-content;
}

ul.social {
	list-style: none;
}

ul.social li {
	position: relative;
	display: inline-block;
	margin: 0.25em;
}

ul.social li a {
	-moz-transition: top .2s ease-in-out;
	-webkit-transition: top .2s ease-in-out;
	-ms-transition: top .2s ease-in-out;
	transition: top .2s ease-in-out;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	top: 0;
	position: relative;
}

ul.social li a:before {
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	background-color: rgba(0, 0, 0, 0.801);
	border-radius: 6px;
	box-shadow: inset 0px 0px 0px 1px #747474, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
	color: #ffffff;
	display: block;
	font-size: 26px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	outline: 0;
	overflow: hidden;
	text-shadow: 1px 1px 0px rgba(0, 17, 255, 0.1);
	width: 40px;
}

@media screen and (max-width: 1007px) {

	ul.social li a:before {
		position: relative;
		top: 0;
		background-color: rgba(0, 0, 0, 0);
	}

}

ul.social li a.fa-github:before {
	color: #000;
}

ul.social li a.fa-twitter {
	color: #000;
	background-color: #2aa0d6;
}

ul.social li a.fa-facebook-f {
	background-color: #204899;
}

ul.social li a.fa-dribbble {
	background-color: #c41f5c;
}

ul.social li a.fa-linkedin-in {
	background-color: #006ea5;
}

ul.social li a.fa-github {
	background-color: rgb(255, 255, 255);
}

ul.social li a.fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

ul.social li a.fa-youtube {
	background-color: #BF2E25;
}

ul.social li a:hover {
	top: -5px;
}

ul.social li a:hover:before {
	background-color: transparent;
}

.contactwrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.form {
	width: 70%;
	margin: 0 auto 30px auto;
	min-width: 300px;
}

i {
	display: inline;
}

.contact-info {
	font-size: .7em;
	display: flex;
	flex-flow: row nowrap;
	gap: 10px;
	margin: 2.53em 0 0 0;
	padding: 0 0 0 10px;
	width: 60%;
	min-width: 300px;
}

.contact-info div {
	width: fit-content;
}

@media screen and (max-width: 1007px) {
	.contactwrapper {
		justify-content: center;
	}

	.contact-info {
		width: fit-content;
		flex-flow: row wrap;
	}
}

.contact-info div>* {
	margin: 0;
	padding: 0;
}

.contact-info div p {
	font-size: 1.1em;
}

.contactwrapper .icon,
.contactwrapper .fa-solid,
.socialicon li a {
	color: var(--btn);
}

.service h2 i,
a i {
	color: var(--icon);
	text-shadow: var(--icon-shadow);
}

a {
	text-decoration: none !important;
}

i {
	margin-left: 5px;
}

header a {
	display: block;
	margin: 10px 10px 10px 0;
}

/* Footer */

#footer {
	color: rgb(126, 126, 126);
	text-align: center;
	padding: 2em 0 0 0;
	font-size: 0.75em;
}